SPOONACULAR_API_KEY="9df808f13c3d4c5984dec0e725bb132c"
DEEPL_API_KEY="855f1c7b-e4f4-4776-a27b-3b0a571d4e78:fx"
GOOGLE_CLIENT_ID = "962992958749-lhuole68gf1l2o02lponigvfb3h7heen.apps.googleusercontent.com"

SUPABASE_URL="https://yrsdvhbywmummekewyfq.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlyc2R2aGJ5d211bW1la2V3eWZxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc3MTA3MjIsImV4cCI6MjA2MzI4NjcyMn0.SD7Mttl-LDhSVi3CAIX7bl1FbhkzmMHAyi1Ri0yYJ6M"

DATABASE_URL="postgresql://postgres.yrsdvhbywmummekewyfq:jiwoo020821**@aws-0-ap-northeast-2.pooler.supabase.com:6543/postgres"
